$tema: default;
$colors: #e50914, blue, green, violet;
$bordes: (
  ridge: ridge 6px black,
  dashed: dashed 2px gray,
  dotted: dotted 1px red,
);
$redes: (
  facebook: blue,
  instagram: darkred,
  twitter: #55acee,
);
