@media (min-width: 320px) and (max-width: 480px) {
  .flex_box {
    flex-flow: column wrap;
    text-align: center;
    width: 100vw;
  }
  .header__menu,
  .main_subtitulo {
    width: 90vw;
    height: 30vh;
  }
  p,
  h2,
  h3,
  h4 {
    scale: 60%;
  }
  h1 {
    scale: 90%;
  }
  .pilotos {
    width: 80vw;
  }
  .form-control,
  .form-select {
    width: 65vw;
  }
  .valid-feedback,
  audio,
  button {
    scale: 80%;
  }
  label {
    scale: 75%;
  }
  .invalid-feedback {
    scale: 75%;
  }
  img {
    scale: 80%;
  }

  #tabla {
    scale: 60%;
  }
  iframe {
    scale: 50%;
  }

  .grid {
    display: flex;
    flex-flow: column wrap;
  }
  .carousel-item {
    width: 260px;
  }
}

@media (min-width: 481px) and (max-width: 600px) {
  .flex_box {
    flex-flow: column wrap;
    text-align: center;
    height: 300px;
  }
  .header__menu,
  .main_subtitulo {
    width: 100vw;
  }
  p,
  h2,
  h3 {
    scale: 80%;
  }
  .pilotos {
    width: 80vw;
  }

  .grid {
    display: flex;
    flex-flow: column wrap;
  }
  iframe {
    scale: 65%;
  }
  .carousel-item {
    width: 400px;
  }
}
@media (min-width: 601px) and (max-width: 1023px) {
  .flex_box {
    flex-flow: column wrap;
    text-align: center;
  }
  .header__menu,
  .main_subtitulo {
    width: 100vw;
  }
  p,
  h2,
  h3 {
    scale: 80%;
  }
  .pilotos {
    width: 80vw;
  }

  .grid {
    display: flex;
    flex-flow: column wrap;
  }
  iframe {
    scale: 90%;
  }
  .carousel-item {
    width: 600px;
  }
}
