@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@400..900&display=swap");
body {
  font-family: "orbitron";
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rotate {
  animation: rotate 3s infinite alternate;
  position: relative;
}

@keyframes rotate {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.move {
  animation: move 1s infinite alternate;
  position: relative;
}

@keyframes move {
  0% {
    left: 1px;
  }
  100% {
    left: 15px;
  }
}
.transition-color {
  color: #f5f5f1;
  transition: color 1s ease;
}

.transition-color:hover {
  color: black;
}

.fondo1 {
  background-color: #e50914;
}

.fondo2 {
  background-color: blue;
}

.fondo3 {
  background-color: green;
}

.fondo4 {
  background-color: violet;
}

.fondo5 {
  background-color: #292f33;
}

.fondo6 {
  background-image: linear-gradient(#292f33, rgb(156, 6, 6));
}

.fondo7 {
  background-image: url(./../../multimedia/Histof1.jpg);
}

.bordes, table,
th,
td {
  border: 3px ridge black;
  border-radius: 10px;
}

.bordes-ridge {
  border: ridge 6px black;
}

.bordes-dashed {
  border: dashed 2px gray;
}

.bordes-dotted {
  border: dotted 1px red;
}

:hover.color-facebook {
  background-color: blue;
}

:hover.color-instagram {
  background-color: darkred;
}

:hover.color-twitter {
  background-color: #55acee;
}

.rotatex {
  transform: rotatex(50deg);
}

.skew {
  transform: skew(2deg, 2deg);
}

h2,
h3,
h4,
th,
td,
li,
p,
textarea,
label,
legend,
select {
  color: #f5f5f1;
  text-shadow: 1px 1px black;
}

h1 {
  text-shadow: 5px 2px 3px rgba(136, 156, 164, 0.438);
  margin: 0;
  padding: 0;
  color: #221f1f;
  transition: color 2s ease;
}

h1:hover {
  color: #f5f5f1;
}

button,
body,
th {
  background-color: black;
}

th {
  text-align: left;
  background-color: #211f2a;
}

td {
  background-color: #211f2a;
}

table {
  width: 200px;
  margin: 0 auto;
}

ul li a {
  margin-right: 10px;
  color: #211f2a;
  text-shadow: 2px 1px 3px white;
  text-decoration: none;
}

.header__logo {
  width: 80px;
  height: 80px;
}

.header__titulo {
  font-size: 200%;
  width: 400px;
  height: 40px;
}

.header__menu li {
  display: inline-block;
  font-size: 140%;
}

.header__menu {
  width: 800px;
  height: 55px;
}

.videos {
  width: 600px;
  height: 600px;
}

.footer_imagenes {
  width: 500px;
  height: 100px;
  text-align: center;
}

.footer_titulo {
  width: 350px;
  height: 60px;
}

.box_formulario {
  width: 410px;
  height: 400px;
}

.box_campeon {
  height: 300px;
  width: 260px;
}

.flex_box {
  display: flex;
  height: 100%;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.flex_box2 {
  display: flex;
  height: 80%;
  width: 100%;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 50px;
}

.grid {
  display: grid;
  width: 95%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  justify-content: space-evenly;
  align-content: space-around;
  justify-items: center;
  align-items: center;
  text-align: center;
}

p {
  transition: color 2s ease;
}

p:hover {
  color: red;
}

h2,
h3 {
  text-align: center;
  transition: color 2s ease;
}

h2:hover,
h3:hover {
  color: black;
}

ul li a:active,
img:active,
input:focus {
  background-color: rgb(212, 227, 255);
}

img,
iframe {
  transition: border-radius 1s ease;
}

img:hover,
iframe:hover {
  border-color: red;
  border-radius: 60px;
}

ul li {
  transition: transform 2s ease;
}

ul li:hover {
  transform: scale(1.2);
}

/*# sourceMappingURL=styles.css.map */
